{% extends "layout.njk" %}
{% block content %}
<main class="container">
    <h1>{{ title }}</h1>
    <p>Top secret page</p>
    <p>Username: {{ username }}</p>
    <form action="/logout" method="POST">
        <button type="submit">Logout</button>
    </form>
</main>
{% endblock %}